.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.app-name{
    text-decoration: none;
    cursor: pointer;
    color: #1f2937;
}


.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8fafc;
    color: white;
}

.home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;

}

.home-page p{
    font-size: 1.2rem;
    padding: 0.7rem 20rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-align: center;
}


.btn-primary {
    background-color: #ff3b3b;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #d32f2f;
}

.btn-secondary {
    background-color: #fff1f1;
    color: #ff3b3b;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: #ff3b3b;
    color: #ffffff;
    border-color: #ff3b3b;
}

.footer{
    background-color: #f1f5f9;
    border-top: 1px solid #d1d5db;;
    color: #4b5563;
    padding: 6px;
    width: 100%;
    text-align: center;
}

.cards{
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 10px;
    padding: 1rem;
}
.cards h3{
    font-size: 1.5rem;
    padding: 8px;
}

.cards p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}


.features-page{
    background-color: #f1f5f9;
    border-top: 1px solid #edf2f7;
    color: #4b5563;;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-page h2{
    margin-top: 5rem;
    font-size: 2.5rem;
}
.features-section{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card-red {
    background-color: #fff1f1;
    border: 1px solid #d1d5db;
    border-radius: 14px;
    padding: 22px;
}
.card-blue {
    background-color: #f0f7ff;
    border: 1px solid #d1d5db;
}
.card-green {
    background-color: #f0fdf4;
    border: 1px solid #d1d5db;
}



.dashboard{
    background-color: #f8fafc;
    color: white;
    height: 100vh;
    flex-direction: column;
}

.dashboard > h2{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem;
}

.dashboard-main{
    margin-top: 8rem;
    color: white;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-card {
    width: 20rem;
    height: 12rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 50px;
    border: 1px solid #4b5563;
    cursor: pointer;
}

.dashboard-card:hover{
    scale: 1.02;
}

.dashboard-card h3{
    font-size: 1.8rem;
}

.dashboard-card p{
    font-size: 1.5rem;
}

.card-blue{
    background-color: #f0f7ff;
}


.card-green {
    background-color: #f0fdf4;
}

.card-red {
    background-color: #fff1f1;
}


.product-list{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-heading{
    font-size: 2rem;
    padding: 20px 0;
}

.product-table{
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #444;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-data{
    text-align: center;

}

.btn-action{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product-controller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
    align-items: center;
    padding: 10px 2rem;
}

.product-controller-selector{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.search{
    padding: 8px 12px;
    border-radius: 8px ;
}

.category-selector{
    padding: 8px 12px;
    border-radius: 8px;
}

.stock-selector{
    padding: 8px 12px;
    border-radius: 8px;
}

.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 22rem;
}

.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-card{
    width: 22.5rem;
    height: 25rem;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.1rem solid #d1d5db;
    border-radius: 10px;

}

.login-card h4{
    font-size: 1.5rem;
}

.login-form{
    width: 100%;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.login-form input{
    padding: 5px;
    border-radius: 5px;
    border: 0.1rem solid #d1d5db;
}

.login-card a{
    cursor: pointer;
    color: blue;
}

.login-card a:hover{
    text-decoration: underline;
}


.login-form button{
    margin-top: 1rem;
}

.signup-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-card {
    width: 22.5rem;
    height: 32rem;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.1rem solid #d1d5db;
    border-radius: 10px;
}

.signup-card h4 {
    font-size: 1.5rem;
}

.signup-form {
    width: 100%;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.signup-form input,
.signup-form select {
    padding: 5px;
    border-radius: 5px;
    border: 0.1rem solid #d1d5db;
}

.signup-form button {
    margin-top: 1rem;
}

.signup-card a {
    cursor: pointer;
    color: blue;
}

.signup-card a:hover {
    text-decoration: underline;
}

.forget-password {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card */
.forget-password-card {
    width: 22.5rem;
    height: 24rem;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.1rem solid #d1d5db;
    border-radius: 10px;
}

/* Heading */
.forget-password-card h4 {
    font-size: 1.5rem;
}

.forget-password-form {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forget-password-form input {
    padding: 5px;
    border-radius: 5px;
    border: 0.1rem solid #d1d5db;
}

.forget-password-form button {
    margin-top: 1rem;
}
.product-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.product-modals {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.product-modals-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 22rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-modals-card input,
.product-modals-card select{
    padding: 4px;
    border-radius: 4px;
}

.product-modals-card h4{
    text-align: center;
    font-size: 1.25rem;
    padding: 4px 0 8px 0;
}

.product-modals-card button{
    margin-top: 10px;
}



