.navbar {
    background-color: black;
    opacity: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 0.1rem solid black;
}
.nav-heading {
    color: white;
    font-size: 1.3rem;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-page{
    flex: 1;
    background-color: snow;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;

}

.btn{
    background-color: darkgreen;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;

}